html,body{
	height: 100%;
	width: 100%;
}
body{
	position: relative;
	background: url("../images/homebg.png") no-repeat 0 0;
	background-size: 100% 100%;
}

#header{
	height: 35px;
	background: #323232;
}
#header .center{
	width: 1000px;
	margin: 0 auto;
}
#header .center .touch_us span{
	display: block;
	float: right;
	color: #606060;
	font: 10px/35px arial;
	text-indent: 20px;
	background: url("../images/hometel.png") no-repeat 0 10px;
}
#header .center .touch_us ul{
	float: right;
	width: 140px;
	height: 35px;
	background: #fff;
}
#header .center .touch_us li{
	position: relative;
	width: 25px;
	height: 25px;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	z-index: 3;	
}
#header .center .sidenav{
	position: relative;   //相对的“父级”使用定位，会在一定范围内影响a链接的效果
	width: 180px;
	height: 300px;
	z-index: 2;				//position元素覆盖了a的元素，应该设置层级的顺序
}
#header .center .sidenav div{
	width: 180px;
	height: 100px;
	background: #dd4012 url("../images/homelogo.png") no-repeat 10px 25px;
	color: #ffac94;
	font: 14px/140px arial;
	text-align: center;
}
#header .center .sidenav ul{
	width: 140px;
	background: #040506;
	opacity: 0.8;
	text-align: right;
	color: #7b7b7b;
	font: 12px/32px arial;
	padding: 10px 20px;
}
#header .center .sidenav ul li a{
	color: #bbb;
}
#header .center .sidenav ul li a:hover{
	text-decoration: underline;
}

#main{
	position: absolute;
	top: 35px;
	left: 50%;
	margin-left: -500px; 
	width: 1000px;
	/*margin: 0 auto;    不能居中，失效*/  
}
#main .title {
	width: 400px;
	height: 220px;
	text-align: center;
	margin: 0 auto;
	padding-top: 120px;
}
#main .title p:nth-child(1){
	font: bold 40px/40px "黑体";
	color: #fff;
}
#main .title p:nth-child(2){
	font: bold 80px/80px "黑体";
	color: #fff;
}
#main .title p:nth-child(3){
	position: relative;
	font: bold 80px/80px "黑体";
	color: #dd4012;
	z-index: 2;
}
#main .viewpoint{
	position: absolute;
	right: 0;
	top: 120px;
	width: 300px;
	height: 150px;
	background: #dd4012;
}
#main .viewpoint .close{
	position: absolute;
	top: -10px;
	right: -10px;
	height: 20px;
	width: 20px;
	color: #dd4012;
	background: #fff;
	border-radius: 10px;
	text-align: center;
	font: bold 20px/20px arial;
	cursor: pointer;
}
#main .viewpoint .close:hover{	
	color: red;
}
#main .viewpoint .head{
	height: 50px;
	color: #ffd1c4;
	font: bold 20px/50px "黑体";
}
#main .viewpoint .head span{
	color: #fe734b;
	font: bold 10px/50px "黑体";
}
#main .viewpoint a{
	position: relative;
	color: #ffd1c4;
	font: bold 15px "黑体";
	float: right;
	margin-top: 10px;
	margin-right: 15px;
	z-index: 3;
}
#main .viewpoint a:hover{
	color: red;
}
#main .viewpoint .body .left{
	float: left;
	width: 110px;
	height: 80px;
	margin: 10px;
	background: #dd4012 url("../images/homeviewpoint.png") no-repeat 0 0;
	background-size: 100%;
}
#main .viewpoint .body .right{
	width: 170px;
	height: 110px;
	float: right;
	margin-top: 5px;
}
#main .viewpoint .body .right p{
	color: #ffd1c4;
	font: 15px/25px arial;
}
#main .viewpoint .body .right p:last-child{
	color: #ffa88f;
	font: 12px/25px arial;
}
#main .function{
	position: absolute;
	top: 240px;
	width: 1000px;
	height: 250px;
	background: url("../images/homecenter.png") no-repeat 0 0;
	background-size: 100% 100%;
}
#main .cases{
	margin-top: 112px;
	font: bold 15px/24px "黑体";
	color:#dd4012;
}
#main .cases span:nth-child(2){
	font: 12px/24px "黑体";
	float: right;
}
#main .cases .cycases{
	width: 1000px;
	height: 80px;
}
#main .cases .cycases div[class^="side"]{
	width: 25px;
	height: 80px;
	background: #dd4012;
	float: left;
	color: #fff;
	font: 15px/80px arial;
	text-align: center;
}
#main .cases .cycases .casescontain{
	float: left;
	width: 930px;
	height: 80px;
	overflow: hidden;
	margin-left: 20px;
}
#main .cases .cycases .casescontain ul{
	width: 1860px;
	height: 80px;
}
#main .cases .cycases .casescontain ul li{
	float: left;
	width: 135px;
	height: 80px;
	margin-right: 20px;
}


#footer{
	position: absolute;
	bottom: 0;	
	height: 34px;
	width: 100%;
	border-top: 1px solid gray;
	background:	 rgba(50,50,50,0.8);
}
#footer .center{
	height: 34px;
	width: 1000px;
	margin: 0 auto;
}
#footer .center span{
	font:12px/34px arial;
	color: #666;
	float: left;
}
#footer .center ul{
	float: right;
}
#footer .center ul li{
	float: left;
	margin-left: 10px;
}
#footer .center ul li :hover{
	text-decoration: underline;
}
#footer .center ul li a{
	font:12px/34px arial;
	color: #999;
	
}